<!-- <fieldset>
  <form action="/" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <label for="rating">Rating:</label>
    <input type="float" id="rating" name="rating" placeholder="required"></input>
    <br>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" placeholder="optional"></input>
    <br>
    <input type="submit" value="Submit New GutCheck">
  </form>
</fieldset> -->
