body {
  font-family: "Helvetica";
  // background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

input[type=submit] {
  border: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 12px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

input[type=button] {
  border: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 12px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header {
  height: 90px;
  width: 100%;
  display: block;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  // position: fixed;
  z-index: 3;
}

.page-header .header-container {
  margin: 0 auto;
  width: 960px;
}

.page-header h1 {
    font-size: 60px;
    margin: 10px 0;
    position: relative;
    float: left;
    text-align: left;
    left: 8px;
}

.container_12 {
  // margin-top: 90px;
  padding-top: 10px;
}

#table {
  font-family: "Gill Sans";
}

#table thead {
  text-transform: uppercase;
  padding-bottom: 0;
}

#table th {
  font-weight: normal;
  padding-left: 0;
  padding-bottom: 15px;
}

#table td {
    text-align: center;
    font-weight: normal;
    // padding-top: 10px;
    padding-bottom: 15px;
  }

  table .sort-button {
    height: 10px;
  }

    th.header {
        cursor: pointer;
        height: 100%;
        background-color: none;
    }

  #table .comment-column {
    text-align: left;
  }

  #table .comment-row {
    text-align: left;
  }

  table .delete-button {
    font-family: "gill sans"
  }

  .edit-toggler {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 12px;
    left: 43%;
    width: 40px;
    height: 19px;
    line-height: 20px;
    position: relative;
    margin: 0 auto;
  }

  .edit-toggler:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }


  .edit-form form {
    display: none;
  }

  .edit-form.editing .edit-toggler {
    display: none;
  }

  .edit-form.editing form {
    display: block;
  }

.submit-container {
  margin-top: 30px;
  padding-bottom: 10px;
}

.submit-container h2:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.submit-container h2 {
  position: relative;
  text-align: center;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.submit-form-container {
  width: 80%;
  margin: 0 auto;
}

.submit-form-container input {
  margin: 5px 0;
  margin-left: 20px;
}

.errors ul {
  list-style: none;
}

.errors strong {
  color: red;
}

.footer {
  margin: 0 auto;
  height: 120px;
  width: 100%;
  display: block;
  background-color: white;
  text-align: center;
}

.footer h2 {
  top: 33%;
  position: relative;
}
