body {
  font-family: "Helvetica";
  // background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.header {
  height: 90px;
  width: 100%;
  display: block;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  // position: fixed;
  z-index: 3;
}

.header .header-container {
  margin: 0 auto;
  width: 960px;
}

.header h1 {
    font-size: 60px;
    margin: 10px 0;
    position: relative;
    float: left;
    text-align: left;
}

.container_12 {
  // margin-top: 90px;
  padding-top: 10px;
}

.table {
  font-family: "gill sans";
}

#table {

}

.table-head {
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
  margin-left: 0;
}

#table th, .table td {
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
  }

  tr {

  }

  td {

  }

  #table .comment-column {
    text-align: left;
  }

  #table .comment-row {
    text-align: left;
  }

  #table .delete-button {
    font-family: "gill sans"
  }

  .edit-toggler {
    text-decoration: none;
    color: black;
  }

  .edit-form .edit-toggler {
    display: block;
  }

  .edit-form form {
    display: none;
  }

  .edit-form.editing .edit-toggler {
    display: none;
  }

  .edit-form.editing form {
    display: block;
  }

.submit-container {
  margin-top: 30px;
  padding-bottom: 10px;
}

.submit-container h2 {
  position: relative;
  text-align: center;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.submit-form-container {
  width: 80%;
  margin: 0 auto;
}

.submit-form-container input {
  margin: 5px 0;
  margin-left: 20px;
}

.errors ul {
  list-style: none;
}

.errors strong {
  color: red;
}

.footer {
  margin: 0 auto;
  height: 120px;
  width: 100%;
  display: block;
  background-color: white;
  text-align: center;
}

.footer h2 {
  top: 33%;
  position: relative;
}
